.grid,nav {
	display: -webkit-box;
	display: -ms-flexbox;
}

big,mid {
	font-weight: 600;
}

.child,.container {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	height: 100vh;
}

#call,nav {
	position: fixed;
	z-index: 999;
}

#phone-icon,big,body,html,mid,nav>div>a,sma {
	padding: 0;
	margin: 0;
}

#contacts-block,#contacts-block-mobile,.grid {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-box-direction: normal;
}

#contacts-block,#contacts-block-mobile,nav {
	padding: 10px;
	background-color: #fff;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

body,html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: sans-serif;
	-webkit-animation: .5s fadeIn;
	animation: .5s fadeIn;
}

a {
	text-decoration: underline;
	color: #000;
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.nav-link {
	text-decoration: none;
}

a:hover {
	opacity: 50%;
}

img {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#map,nav>div>a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.mar-r {
	margin-right: 10px;
}

#start-logo {
	display: block;
	width: 300px;
}

#start-logo-mobile {
	display: none;
	width: 400px;
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 30%;
	margin-right: -100px;
}

nav {
	width: 100%;
	height: 50px;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-shadow: -5px 0 10px 2px #00000022;
	box-shadow: -5px 0 10px 2px #00000022;
	top: 0;
	left: 0;
}

#call,#contacts-block {
	-webkit-box-shadow: 4px 4px 8px 2px #00000022;
}

nav>div>a {
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	user-select: none;
}

big {
	font-size: 38px;
}

mid {
	font-size: 26px;
}

sma {
	font-size: 18px;
	font-weight: 550;
}

.container {
	-ms-scroll-snap-type: y mandatory;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

.child {
	position: relative;
	scroll-snap-align: start;
}

.centered,.grid {
	width: 100%;
	height: 100%;
}

.grid {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.centered,.grid>div {
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-align: center;
}

.grid>div {
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.centered {
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#about-me,#call {
	-webkit-box-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
}

#summary-info {
	max-width: 350px;
}

#summary-info>span {
	line-height: 40px;
}

#about-me {
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-width: 620px;
}

#about-me>span {
	text-align: justify;
	line-height: 30px;
}

#call {
	width: 60px;
	height: 60px;
	right: 20px;
	bottom: 20px;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	background-color: #000;
	box-shadow: 4px 4px 8px 2px #00000022;
	border-radius: 100%;
}

#call>a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#phone-icon {
	-webkit-filter: invert(1);
	filter: invert(1);
}

#contacts-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 90%;
	max-width: 620px;
	border-radius: 10px;
	box-shadow: 4px 4px 8px 2px #00000022;
}

#contacts-block-mobile>div,#contacts-block>div {
	margin: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#contacts-block-mobile>div>div,#contacts-block>div>div {
	max-width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#contacts-block-mobile {
	display: none;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 350px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 8px 2px #00000022;
	box-shadow: 4px 4px 8px 2px #00000022;
}

#map {
	border-radius: 10px;
	user-select: none;
}

@media only screen and (max-width:675px) {
	#contacts-block,#start-logo {
		display: none;
	}

	#start-logo-mobile {
		display: block;
	}

	#about-me {
		max-width: 350px;
	}

	#contacts-block-mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

.example {
	display: -ms-grid;
	display: grid;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: -webkit-gradient(linear,left top,left bottom,from(white),to(black));
	background: -o-linear-gradient(top,#fff,#000);
	background: linear-gradient(to bottom,#fff,#000);
}
