@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:wght@600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    background: #fff;
    color: #000;
}

button {
    min-width: 130px;
    border: none;
    background: #000;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    transition: transform 0.15s;
    cursor: pointer;
    font-size: medium;
}

ul {
    padding: 15px;
}

li {
    padding: 3px;
}

button:active {
    transform: scale(0.95);
}

.mainSection {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 130px;
}

.infoSection {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 130px;
}

.mainSection__background {
    height: 200%;
    aspect-ratio: 16/9;
    background: left / contain no-repeat url("img/thumb.jpg");
    filter: blur(5px);
    position: absolute;
    left: -50%;
    top: -50%;
}

.personalInfo__heading {
    padding-bottom: 20px;
    font-size: xx-large;
    color: #fff;
}

.infoSection__heading {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.personalInfo__description {
    padding-bottom: 10px;
    color: #fff;
}

.actionBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    flex-wrap: wrap;

    position: absolute;
    right: 130px;
    bottom: 130px;
}

.actionBar__splitter {
    font-size: xx-large;
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}

.actionBar__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.actionBar__action > a {
    font-size: xx-large;
    text-decoration: none;
    color: #fff;
}

.contacts {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-columns: 2fr;
    gap: 10px;
}

.contacts__block {
    padding: 20px;
    width: 100%;
    height: 100%;
    min-height: 85px;
    background: rgba(0, 0, 0, 2%);
    border-radius: 5px;

    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.contacts__block > button {
    justify-self: flex-end;
}
.contacts__block._long {
    grid-column: 1 / span 2;
}

.services {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-columns: 2fr;
    gap: 10px;
}

.services__block {
    padding: 20px;
    width: 100%;
    height: 100%;
    min-height: 85px;
    background: rgba(0, 0, 0, 2%);
    border-radius: 5px;

    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.services__info {
    display: flex;

    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.services__descriptionButton {
    background: transparent;
    min-width: 70px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 50%);
}
.services__descriptionButton._active {
    transform: rotate(90deg);
}

.services__descriptionContent {
    display: none;
    opacity: 0;

    padding: 20px;

    width: 100%;
    height: 100%;
    min-height: 75px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    border-radius: 5px;

    background-color: rgba(0, 0, 0, 2%);
}

.services__descriptionContent._active {
    display: flex;
    animation: fadeIn ease-in 0.125s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

dialog {
    border: none;
    border-radius: 5px;
    padding: 30px;
    transition: transform 0.25s ease-in-out;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    backdrop-filter: blur(5px);
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

body:has(dialog[open]) {
    overflow: hidden;
}

@media only screen and (max-width: 885px) {
    .mainSection {
        padding: 30px;
    }
    .actionBar {
        right: 30px;
        bottom: 30px;
    }
    .actionBar__action > a {
        font-size: x-large;
    }
    .infoSection {
        padding: 30px;
    }
    .contacts__block {
        grid-column: 1 / span 2;
    }
}
